<!--main HTML file where our angular app will be initialised-->

<!DOCTYPE html>
<html ng-app="rentat">
	<head>
		<title>rentat - rent anything | anytime</title>
		<link rel="icon" type="image/png" href="images/favicon.ico">

		<!-- <base href="/"> -->

		<script type="text/javascript" src="js/vendor/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="js/vendor/angular-route.js"></script>
		<script type="text/javascript" src="js/vendor/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/vendor/bootstrap-3.0.0.min.js"></script>
		<!--<script type="text/javascript" src="js/vendor/ng-file-upload.min.js"></script>-->
		<script type="text/javascript" src="js/vendor/ng-file-upload.js"></script>
		<!--<script type="text/javascript" src="js/vendor/ng-file-upload-shim.min.js"></script>-->
		<script type="text/javascript" src="js/vendor/ng-file-upload-shim.js"></script>

		<script type="text/javascript" src="js/ra-module.js"></script>
		<script type="text/javascript" src="js/controllers/ra-controllers.js"></script>
		<script type="text/javascript" src="js/services/ra-services.js"></script>
		<script type="text/javascript" src="js/directives/ra-directives.js"></script>
		<!-- <script type="text/javascript" src="js/app.js"></script> -->

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/css" rel="stylesheet" href="css/bootstrap-3.0.0.min.css" media="screen,projection">
		<link type="text/css" rel="stylesheet" href="css/fileInput.min.css" media="screen,projection">
		<link type="text/css" rel="stylesheet" href="css/app.css" media="screen,projection">
		<link type="text/css" rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css">

        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>
	</head>
	<body ng-controller="getGlobalDataController" ng-cloak>

		<div id="loader" loader>
			<img src="./images/ra-loading.gif" class="ajax-loader">
		</div>
		<div ng-if="globalError && globalError.message" class="alert alert-danger" style="text-align: center;">{{globalError.message}}</div>
		<div id="wrapper" ng-if="!globalError.status">
			<div class="header">
				<nav class="navbar   navbar-site navbar-default" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
								<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="#/" class="navbar-brand logo logo-title"> <span class="logo-icon"><img src="./images/rentat.png" style="height: 60px; width: auto;"></a>
						</div>
						<div class="navbar-collapse collapse" ng-if="!ra.user._id">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="#login">Login</a>
								</li>
								<li>
									<a href="#signup">Signup</a>
								</li>
								<li class="postadd">
									<a class="btn btn-block btn-border btn-post btn-primary" href="#post-ad">Post Free Add</a>
								</li>
							</ul>
						</div>

                        <div class="navbar-collapse collapse" ng-if="ra.user && ra.user._id">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href ng-click="logout()">Signout <i class="fa fa-power-off"></i> </a></li>
                                <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span>{{ra.user.firstName}}</span> <i class="fa fa-angle-down"></i> </a>
                                    <ul class="dropdown-menu user-menu">
                                        <li><a href="#account"><i class="icon-home"></i> My Account </a></li>
                                        <li><a href="#myads"><i class="icon-th-thumb"></i> My ads </a></li>
                                        <!-- <li><a href="#fav-ads"><i class="icon-heart"></i> Favourite ads </a></li> -->
                                        <!--<li><a href="account-saved-search.html"><i class="icon-star-circled"></i> Saved search </a></li>-->
                                        <!--<li><a href="account-archived-ads.html"><i class="icon-folder-close"></i> Archived ads </a></li>-->
                                        <!--<li><a href="#pending-ads"><i class="icon-hourglass"></i> Pending approval </a></li>-->
                                        <!--<li><a href="statements.html"><i class=" icon-money "></i> Payment history </a></li>-->
                                    </ul>
                                </li>
                                <li class="postadd">
                                    <a class="btn btn-block btn-border btn-post btn-primary" href="#post-ad">Post Free Add</a>
                                </li>
                            </ul>
                        </div>

					</div>

				</nav>
			</div>

			<div ng-view></div>

			<div class="footer" id="footer">
				<div class="container">
					<ul class=" pull-left navbar-link footer-nav">
						<li>
							<a href="#/"> Home </a>
							<a href="#about"> About us </a>
							<a href="#terms"> Terms and Conditions </a>
							<a href="#privacy"> Privacy Policy </a>
							<a href="#contact"> Contact us </a>
							<a href="#faq"> FAQ </a>
						</li>
					</ul>
					<ul class=" pull-right navbar-link footer-nav">
						<li>
							© 2015 rentat
						</li>
					</ul>
				</div>
			</div>

		</div>

	</body>
</html>
