<div class="main-container inner-page">
	<div class="container">
		<div class="section-content">
			<div class="row ">
				<h1 class="text-center title-1"> What is rentat ? </h1>
				<hr class="center-block small text-hr">
				<div class="col-sm-6">
					<div class="text-content has-lead-para text-left">
						<p class="lead">
							rentat - rent anything | anytime
						</p>
						<p class="lead">
							So as the name suggests we are basically a classified company who is intereseted in providing a platform to the individuals or businesses so that they can earn money by putting there things on rent.
						</p>
						<p class="lead">
							Now your business needs no more marketing, we will do that for you
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<img src="images/info.png" alt="imfo" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</div>