<div class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 page-sidebar">
				<aside>
					<div class="inner-box">
						<div class="user-panel-sidebar">
							<div class="collapse-box">
								<h5 class="collapse-title no-border"> My Account <a href="#MyClassified" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
								<div class="panel-collapse collapse in" id="MyClassified">
									<ul class="acc-list">
										<li>
											<a class="active" href="#account"><i class="icon-home"></i> My Account </a>
										</li>
									</ul>
								</div>
							</div>

							<div class="collapse-box">
								<h5 class="collapse-title"> My Ads <a href="" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
								<div class="panel-collapse collapse in" id="MyAds" ng-controller="myadsController">
									<ul class="acc-list">
										<li>
											<a href="#myads"><i class="icon-docs"></i> My ads <span class="badge">{{postedAds.length}}</span> </a>
										</li>
										<!--
										<li>
																					<a href="#favads"><i class="icon-heart"></i> Favourite ads <span class="badge">42</span> </a>
																				</li>-->
										
										<!--<li>
											<a href="account-saved-search.html"><i class="icon-star-circled"></i> Saved search <span class="badge">42</span> </a>
										</li>
										<li>
											<a href="account-archived-ads.html"><i class="icon-folder-close"></i> Archived ads <span class="badge">42</span></a>
										</li>-->
										<!--<li>
											<a href="#pendingads"><i class="icon-hourglass"></i> Pending approval <span class="badge">42</span></a>
										</li>-->
									</ul>
								</div>
							</div>

							<!--<div class="collapse-box">
								<h5 class="collapse-title"> Terminate Account <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
								<div class="panel-collapse collapse in" id="TerminateAccount">
									<ul class="acc-list">
										<li>
											<a href="account-close.html"><i class="icon-cancel-circled "></i> Close account </a>
										</li>
									</ul>
								</div>
							</div>-->

						</div>
					</div>

				</aside>
			</div>

			<div class="col-sm-9 page-content">
				<div class="inner-box">
					<div class="row">
						<div class="col-md-5 col-xs-4 col-xxs-12">
							<h3 class="no-padding text-center-480 useradmin"><i class="fa fa-user fa-2x"></i></h3>
						</div>
						<div class="col-md-7 col-xs-8 col-xxs-12">
							<div class="header-data text-center-xs">

								<div class="hdata">
									<div class="mcol-left">

										<i class="fa fa-eye ln-shadow"></i>
									</div>
									<div class="mcol-right">

										<p>
											<a href="#">7000</a><em>visits</em>
										</p>
									</div>
									<div class="clearfix"></div>
								</div>

								<div class="hdata">
									<div class="mcol-left">

                                        <i class="fa fa-files-o"></i>
									</div>
									<div class="mcol-right">

										<p>
											<a href="#">12</a><em>Ads</em>
										</p>
									</div>
									<div class="clearfix"></div>
								</div>

								<div class="hdata">
									<div class="mcol-left">

                                        <i class="fa fa-thumbs-up"></i>
									</div>
									<div class="mcol-right">

										<p>
											<a href="#">18</a><em>Favorites </em>
										</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="inner-box">
					<div class="welcome-msg">
						<h3 class="page-sub-header2 clearfix no-padding">Hello {{userDetails.firstName}} {{userDetails.lastName}} </h3>
						<!--<span class="page-sub-header-sub small">You last logged in at: 01-01-2014 12:40 AM [UK time (GMT + 6:00hrs)]</span>-->
					</div>
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading" ng-init="showUpdateForm = false">
								<h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> My details </a> <span><a href="" ng-click="showUpdateForm = !showUpdateForm"><i class="fa fa-pencil"></i></a></span></h4>
							</div>
                            <div class="panel-collapse collapse in" ng-if="!showUpdateForm">
                                <div class="panel-body">
                                    <p><b>First Name:</b> {{userDetails.firstName}}</p>

                                    <p><b>Last Name:</b> {{userDetails.lastName}}</p>

                                    <p><b>Email:</b> {{userDetails.email}}</p>

                                    <p><b>Gender:</b> {{userDetails.gender}}</p>

                                    <p><b>Phone:</b> {{userDetails.phone}}</p>
                                </div>
                            </div>

							<div class="panel-collapse collapse in" id="collapseB1" ng-if="showUpdateForm">
								<div class="panel-body">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label class="col-sm-3 control-label">First Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" ng-model="userDetails.firstName">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Last name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" ng-model="userDetails.lastName">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Email</label>
											<div class="col-sm-9">
												<input type="email" class="form-control" ng-model="userDetails.email">
											</div>
										</div>
										<!--<div class="form-group">
											<label class="col-sm-3 control-label">Address</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" placeholder="..">
											</div>
										</div>-->
										<div class="form-group">
											<label for="Phone" class="col-sm-3 control-label">Phone</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="Phone" ng-model="userDetails.phone">
											</div>
										</div>
										<!--<div class="form-group">
											<label class="col-sm-3 control-label">Postcode</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" placeholder="1217">
											</div>
										</div>-->

										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9"></div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<button type="submit" class="btn btn-primary">
													Update
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#collapseB21" data-toggle="collapse"> Addresses </a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseB21" style="height: auto;">
                                <div class="panel-body" ng-init="showAddressForm = false">

                                    <div ng-if="!userDetails.addresses">
                                        <p>No Addresses available</p>
                                    </div>
									<div ng-if="userDetails.addresses.length">
                                        <div class="col-md-5 address" ng-repeat="address in userDetails.addresses">
                                            <div>
                                                <strong>{{userDetails.firstName}} {{userDetails.lastName}}</strong><br>
                                                {{address.address}}<br>
                                                {{address.city}}, {{address.state}} {{address.zip}}<br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 last-address">
                                        <a href="" ng-click="showAddressForm = !showAddressForm">
                                            <div class="text">+</div>
                                        </a>
                                    </div>

                                    <div class="col-md-12" style="clear: both;">
                                        <form class="form-horizontal" role="form" name="addressForm" ng-if="showAddressForm" ng-submit="saveAddress()">
                                            <div class="form-group" ng-class="{'has-error': addressForm.address.$error.required && (addressForm.address.$touched || addressForm.$submitted)}">
                                                <label class="col-sm-3 control-label">Address</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="userDetails.address.address" name="address" required>

                                                    <p class="error_msg" ng-show="addressForm.address.$touched || addressForm.$submitted">
                                                        <span ng-show="addressForm.address.$error.required">Please enter your Address</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error': addressForm.state.$error.required && (addressForm.state.$touched || addressForm.$submitted)}">
                                                <label class="col-sm-3 control-label">State</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="userDetails.address.state" name="state" required>

                                                    <p class="error_msg" ng-show="addressForm.state.$touched || addressForm.$submitted">
                                                        <span ng-show="addressForm.state.$error.required">Please enter state</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error': addressForm.city.$error.required && (addressForm.city.$touched || addressForm.$submitted)}">
                                                <label class="col-sm-3 control-label">City</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="userDetails.address.city" name="city" required>

                                                    <p class="error_msg" ng-show="addressForm.city.$touched || addressForm.$submitted">
                                                        <span ng-show="addressForm.city.$error.required">Please enter City</span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-class="{'has-error': addressForm.zip.$error.required && (addressForm.zip.$touched || addressForm.$submitted)}">
                                                <label class="col-sm-3 control-label">Pin Code</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="userDetails.address.zip" name="zip" ng-maxlength="6" ng-minlength="6" maxlength="6" ng-pattern="/[1-9][0-9]/" required>

                                                <p class="error_msg" ng-show="addressForm.zip.$touched || addressForm.$submitted">
                                                    <span ng-show="addressForm.zip.$error.required">Enter a valid pincode</span>
                                                    <span ng-show="addressForm.zip.$error.minlength && !addressForm.zip.$error.pattern">Enter a 6 digit pincode</span>
                                                    <span ng-show="addressForm.zip.$error.pattern">Enter a valid pincode</span>
                                                    <!--<span ng-show="addressForm.zip.$error.required">Select a category</span>-->
                                                </p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error': addressForm.country.$error.required && (addressForm.country.$touched || addressForm.$submitted)}">
                                                <label class="col-sm-3 control-label">Country</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="userDetails.address.country" name="country" required>

                                                    <p class="error_msg" ng-show="addressForm.country.$touched || addressForm.$submitted">
                                                        <span ng-show="addressForm.country.$error.required">Please enter Country</span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" ng-disabled="addressForm.$error" class="btn btn-primary">
                                                        Save Address
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#collapseB2" data-toggle="collapse"> Settings </a></h4>
							</div>
							<div class="panel-collapse collapse in" id="collapseB2" style="height: auto;">
								<div class="panel-body">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="checkbox">
													<label>
														<input type="checkbox">
														Comments are enabled on my ads </label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">New Password</label>
											<div class="col-sm-9">
												<input type="password" class="form-control" placeholder="">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Confirm Password</label>
											<div class="col-sm-9">
												<input type="password" class="form-control" placeholder="">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<button type="submit" class="btn btn-default">
													Update
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#collapseB3" data-toggle="collapse"> Preferences </a></h4>
							</div>
							<div class="panel-collapse collapse in" id="collapseB3" style="height: auto;">
								<div class="panel-body">
									<div class="form-group">
										<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox">
													I want to receive newsletter. </label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox">
													I want to receive advice on buying and selling. </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>

</div>