<div ng-init="showQuickView = false"></div>
<div class="item-list" ng-repeat="ad in ads = (postedAds | filterdata: tabsData)">
    <!--=={{ad.isVerified}}-->
    <div class="cornerRibbons pendingApprovalAds" ng-if="!ad.isVerfied">
        <a href="">Review Pending</a>
    </div>
    <div class="cornerRibbons approvedAds" ng-if="ad.isVerfied == true">
        <a href="">Published</a>
    </div>
    <div class="col-sm-2 no-padding photobox">
        <div class="add-image">
            <span class="photo-count"><i class="fa fa-camera"></i> {{ad.images.length}} </span>
            <a href="#/ad/{{ad._id}}/preview"><img class="thumbnail no-margin"
                                                ng-src="{{ad.images[0].url | image:'100x100'}}"
                                                alt="{{ad.images[0].name}}"></a>
        </div>
    </div>

    <div class="col-sm-5 add-desc-box">
        <div class="add-details">
            <h5 class="add-title"><a href="#/ad/{{ad._id}}/preview"> {{ad.adDetail.adTitle}} </a></h5>
                        <span class="info-row">
                            <!--<span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span>-->
                            <span class="date"><i
                                    class=" icon-clock"> </i> {{ad.created_on | date:'mediumDate'}} </span> - <span
                                class="category">{{ad.category}} </span>- <span class="item-location"><i
                                class="fa fa-map-marker"></i> {{ad.seller_information.address.city}} </span>
                        </span>
        </div>
    </div>

    <div class="col-sm-5 text-right  price-box">
        <h2 class="item-price"> {{ad.adDetail.price | currency:"&#8377;"}} </h2>
        <a class="btn btn-primary  btn-sm make-favorite" href="#/ad/{{ad._id}}/edit"> <i class="fa fa-pencil"></i>
            <span>Edit</span>
        </a>
        <!--<a class="btn btn-primary  btn-sm make-favorite" href="#/ad/{{ad._id}}/view"> <i class="fa fa-certificate"></i>
            <span>Preview</span>
        </a>-->
        <a class="btn btn-default  btn-sm make-favorite" ng-click="showQuickView = !showQuickView"> <i
                class="fa fa-search-plus"></i>
            <span>Quick View</span>
        </a>
    </div>

    <div ng-if="showQuickView">
        <div class="col-md-4 col-offset-2 desc">
            <p>{{ad.adDetail.description}}</p>
        </div>
        <div class="col-md-5">
            <p>{{ad.seller_information.email}}, {{ad.seller_information.name}}, {{ad.seller_information.phone}}</p>
        </div>
    </div>
</div>

<div class="item-list" ng-if="ads.length == 0">
    <p>Ads not available in this category</p>
</div>

