<div class="search-row-wrapper">
	<div class="container ">
		<form action="#" method="GET">
			<div class="col-sm-3">
				<input class="form-control keyword" type="text" placeholder="e.g. Mobile Sale">
			</div>
			<div class="col-sm-3">
				<div class="selecter  closed" tabindex="0">
					<select class="form-control selecter selecter-element" name="category" id="search-category" tabindex="-1">
						<option value="" class="selecter-placeholder" selected="">Select An Item</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="selecter  closed" tabindex="0">
					<select class="form-control selecter selecter-element" name="location" id="id-location" tabindex="-1">
						<option value="" class="selecter-placeholder" selected="">Select An Item</option>
						<option selected="selected" value="">All Locations</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-block btn-primary  ">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</form>
	</div>
</div>
<!--===={{adsByCategory}}-->

<div class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 page-sidebar">
				<aside>
					<div class="inner-box">
						<div class="categories-list  list-filter">
							<h5 class="list-title"><strong><a href="#">All Categories</a></strong></h5>
                            <div category-list></div>
						</div>

						<div class="locations-list  list-filter">
							<h5 class="list-title"><strong><a href="#">Price range</a></strong></h5>
							<form role="form" class="form-inline ">
								<div class="form-group col-sm-4 no-padding">
									<input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
								</div>
								<div class="form-group col-sm-1 no-padding text-center">
									-
								</div>
								<div class="form-group col-sm-4 no-padding">
									<input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
								</div>
								<div class="form-group col-sm-3 no-padding">
									<button class="btn btn-default pull-right" type="submit">
										GO
									</button>
								</div>
							</form>
							<div style="clear:both"></div>
						</div>

						<!--<div class="locations-list  list-filter">
							<h5 class="list-title"><strong><a href="#">Seller</a></strong></h5>
							<ul class="browse-list list-unstyled long-list">
								<li>
									<a href="sub-category-sub-location.html"><strong>All Ads</strong> <span class="count">228,705</span></a>
								</li>
								<li>
									<a href="sub-category-sub-location.html">Business <span class="count">28,705</span></a>
								</li>
								<li>
									<a href="sub-category-sub-location.html">Personal <span class="count">18,705</span></a>
								</li>
							</ul>
						</div>-->

						<div style="clear:both"></div>
					</div>

				</aside>
			</div>

			<div class="col-sm-9 page-content col-thin-left">
				<div class="category-list">
					<div class="tab-box ">

						<ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
							<li class="active">
								<a href="#allAds" data-url="ajax/1.html" role="tab" data-toggle="tab">All Ads <span class="badge">{{adsByCategory.length}}</span></a>
							</li>
							<!--<li>
								<a href="#businessAds" data-url="ajax/2.html" role="tab" data-toggle="tab">Business <span class="badge">22,805</span></a>
							</li>
							<li>
								<a href="#personalAds" data-url="ajax/3.html" role="tab" data-toggle="tab">Personal <span class="badge">18,705</span></a>
							</li>-->
						</ul>
						<div ng-if="adsBySeller" class="adsbyseller">
							<p>All ads by: {{adsByCategory[0].seller_information.name}}</p>
						</div>
						<div class="tab-filter">
							<div class="selecter select-short-by closed" tabindex="0">
								<select class="selectpicker selecter-element" data-style="btn-select" data-width="auto" tabindex="-1">
									<option value="Short by">Sort by</option>
									<option value="Price: Low to High">Price: Low to High</option>
									<option value="Price: High to Low">Price: High to Low</option>
								</select>
								<!--<span class="selecter-selected">Sort by</span>-->
								<div class="selecter-options scroller">
									<div class="scroller-bar" style="height: 100px;">
										<div class="scroller-track" style="height: 100px; margin-bottom: 0px; margin-top: 0px;">
											<div class="scroller-handle"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div ng-if="showMessage.show" class="item-list">
						<p>{{showMessage.message}}</p>
					</div>
					<!--<div class="listing-filter" ng-if="!showMessage.show">
						<div class="pull-left col-xs-6">
							<div class="breadcrumb-list">
								<a href="#" class="current"> <span>All ads</span></a> in New York <a href="#selectRegion" id="dropdownMenu1" data-toggle="modal"> <span class="caret"></span> </a>
							</div>
						</div>
						<div class="pull-right col-xs-6 text-right listing-view-action">
							<span class="list-view active"><i class="  icon-th"></i></span><span class="compact-view"><i class=" icon-th-list  "></i></span><span class="grid-view "><i class=" icon-th-large "></i></span>
						</div>
						<div style="clear:both"></div>
					</div>-->

					<div class="adds-wrapper">
						<div class="tab-content">
							<div class="tab-pane active" id="allAds">
								<div class="item-list" ng-repeat="ad in adsByCategory">

									<div class="col-sm-2 no-padding photobox">
										<div class="add-image">
											<span class="photo-count"><i class="fa fa-camera"></i> {{ad.images.length}} </span><a href="#/ad/{{ad._id}}"><img class="thumbnail no-margin" ng-src="{{ad.images[0].url | image:'100x100'}}" alt="img"></a>
										</div>
									</div>

									<div class="col-sm-5 add-desc-box">
										<div class="add-details">
											<h5 class="add-title"><a href="#/ad/{{ad._id}}"> {{ad.adDetail.adTitle}} </a></h5>
											<span class="info-row">
												<span class="date"><i class=" icon-clock"> </i> {{ad.created_on | date: 'mediumDate'}} </span> - <span class="category">{{ad.category}} </span>- <span class="item-location"><i class="fa fa-map-marker"></i> {{ad.seller_information.address.city}} </span> </span>
										</div>
									</div>

									<div class="col-sm-5 text-right  price-box">
										<h2 class="item-price"> {{ad.adDetail.price | currency:"&#8377;"}} </h2>
										<a class="btn btn-primary  btn-sm make-favorite" ng-click="showQuickView = !showQuickView">
                                            <i class="fa fa-certificate"></i> <span>Quick View</span>
                                        </a>
                                        <a class="btn btn-info  btn-sm make-favorite" href="#/ad/{{ad._id}}">
                                            <i class="fa fa-certificate"></i> <span>View</span>
                                        </a>
                                        <a class="btn btn-default  btn-sm make-favorite">
                                            <i class="fa fa-heart"></i> <span>Save</span>
                                        </a>
									</div>

                                    <div ng-if="showQuickView">
                                        <div class="col-md-4 col-offset-2 desc">
                                            <p>{{ad.adDetail.description}}</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>{{ad.seller_information.email}}, {{ad.seller_information.name}}, {{ad.seller_information.phone}}</p>
                                        </div>
                                    </div>

								</div>

							</div>
							<div class="tab-pane" id="businessAds"></div>
							<div class="tab-pane" id="personalAds"></div>
						</div>
					</div>

					<!--<div class="tab-box  save-search-bar text-center">
						<a href=""> <i class=" icon-star-empty"></i> Save Search </a>
					</div>-->
				</div>
				<div class="pagination-bar text-center">
					<ul class="pagination">
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#"> ...</a>
						</li>
						<li>
							<a class="pagination-btn" href="#">Next »</a>
						</li>
					</ul>
				</div>

				<div class="post-promo text-center">
					<h2> Do you get anything to rent ? </h2>
					<h5>Rent your products online FOR FREE. It's easier than you think !</h5>
					<a href="#post-ad" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a>
				</div>

			</div>

		</div>
	</div>
</div>