<div class="main-container">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-4">
				<div class="contact_info">
					<h5 class="list-title gray"><strong>Contact us</strong></h5>
					<div class="contact-info ">
						<div class="address">
							<p class="p1">
								220 Fifth Ave
							</p>
							<p class="p1">
								2nd Flr. New York, NY 10001
							</p>
							<p>
								Email: info@@demos.org
							</p>
							<p>
								Toll Free: 212-633-1405
							</p>
							<p>
								&nbsp;
							</p>
							<!--
							<div>
							<p>
							<strong><a href="#">Get a Quote</a></strong>
							</p>
							<p>
							<strong> <a href="login.html">Client Area Login</a></strong>
							</p>
							<p>
							<strong> <a href="#skypeid" class="skype">Live Chat</a></strong>
							</p>
							<p>
							<strong> <a href="faq.html">Knowledge Base</a></strong>
							</p>
							</div>-->

						</div>
					</div>
					<div class="social-list">
						<a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter fa-lg "></i></a>
						<a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook fa-lg "></i></a>
						<a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus fa-lg "></i></a>
						<a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest fa-lg "></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="contact-form">
					<h5 class="list-title gray"><strong>Contact us</strong></h5>
					<form class="form-horizontal" method="post" novalidate name="contactForm" ng-submit="sendMessage()">
						<fieldset>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : contactForm.fname.$error.required && (contactForm.fname.$touched || contactForm.$submitted)}">
										<div class="col-md-12">
											<input id="firstname" name="fname" type="text" placeholder="Name" class="form-control" ng-model="formData.name" required>
											<p class="error_msg" ng-show="contactForm.fname.$touched || contactForm.$submitted">
												<span ng-show="contactForm.fname.$error.required">Name is required</span>
											</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : contactForm.lname.$error.required && (contactForm.lname.$touched || contactForm.$submitted)}">
										<div class="col-md-12">
											<input id="lastname" name="lname" type="text" placeholder="Phone" class="form-control" ng-model="formData.phone" required>
											<p class="error_msg" ng-show="contactForm.lname.$touched || contactForm.$submitted">
												<span ng-show="contactForm.lname.$error.required">Phone is required</span>
											</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="col-md-12">
											<input id="companyname" name="name" type="text" placeholder="Company Name" class="form-control" ng-model="formData.company">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : (contactForm.email.$error.required || contactForm.email.$invalid) && (contactForm.email.$touched || contactForm.$submitted)}">
										<div class="col-md-12">
											<input id="email" name="email" type="text" placeholder="Email Address" class="form-control" ng-model="formData.email" required>
											<p class="error_msg" ng-show="contactForm.email.$touched || contactForm.$submitted">
												<span ng-show="contactForm.email.$error.required">Email is required</span>
												<span ng-show="contactForm.email.$invalid && !contactForm.email.$error.required">Please enter a valid email address</span>
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-10">
									<div class="form-group" ng-class="{'has-error' : contactForm.message1.$error.required && (contactForm.message1.$touched || contactForm.$submitted)}">
										<div class="col-md-12">
											<textarea class="form-control" id="message" name="message1" placeholder="Enter your message for us here. We will get back to you within 2 business days." rows="7" required></textarea>
											<p class="error_msg" ng-show="contactForm.message1.$touched || contactForm.$submitted">
												<span ng-show="contactForm.message1.$error.required">Short description is required</span>
											</p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 ">
											<button type="submit" class="btn btn-primary btn-lg">
												Submit
											</button>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>