<div class="main-container" ng-if="showPostAdSuccess">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <div class="inner-box category-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success pgray  alert-lg" role="alert">
                                <h2 class="no-margin no-padding">✔ Congratulations! </h2>

                                <p>{{postAdSuccessMessage}} Happy Renting :)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container" ng-if="!showPostAdSuccess">
<div class="container">
<div class="row">
<div class="col-md-9 page-content">
<div class="inner-box category-content">
<h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> Update your Ad</strong></h2>

<div class="row">
<div class="col-sm-12">
<form class="form-horizontal" name="postAdForm" novalidate ng-submit="updatead()">
<fieldset>

<div class="form-group"
     ng-class="{'has-error': postAdForm.category.$error.required && (postAdForm.category.$touched || postAdForm.$submitted)}">
    <label class="col-md-3 control-label">Category <sup>*</sup></label>

    <div class="col-md-8" ng-controller="category">
        <select id="category-group" class="form-control" name="category" ng-model="formData.category" required>
            <option value="">Select Category</option>
            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
        </select>

        <p class="error_msg" ng-show="postAdForm.category.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.category.$error.required">Select a category</span>
        </p>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Ad Type</label>

    <div class="col-md-8">
        <label class="radio-inline" for="radios-0">
            <input name="radios" ng-model="formData.sellerType" id="radios-0" value="individual" type="radio">
            Individual </label>
        <label class="radio-inline" for="radios-1">
            <input name="radios" ng-model="formData.sellerType" id="radios-1" value="business" type="radio">
            Business </label>
    </div>
</div>

<div class="form-group"
     ng-class="{'has-error' : (postAdForm.Adtitle.$invalid || postAdForm.Adtitle.$error.required) && (postAdForm.Adtitle.$touched || postAdForm.$submitted)}">
    <label class="col-md-3 control-label" for="Adtitle">Ad title <sup>*</sup></label>

    <div class="col-md-8">
        <input id="Adtitle" name="Adtitle" placeholder="Ad title" ng-model="formData.adDetail.adTitle" ng-minlength="10"
               class="form-control input-md" required type="text">
        <span class="help-block"
              ng-hide="postAdForm.Adtitle.$invalid">A great title needs at least 10 characters. </span>

        <p class="error_msg" ng-show="postAdForm.Adtitle.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.Adtitle.$error.required">Your ad should have the title</span>
            <span ng-show="postAdForm.Adtitle.$invalid && !postAdForm.Adtitle.$error.required">A great title needs at least 10 characters.</span>
        </p>
    </div>
</div>

<div class="form-group"
     ng-class="{'has-error' : (postAdForm.textarea.$error.required || postAdForm.textarea.$invalid) && (postAdForm.textarea.$touched || postAdForm.$submitted)}">
    <label class="col-md-3 control-label" for="textarea">Describe ad <sup>*</sup></label>

    <div class="col-md-8">
        <textarea class="form-control" id="textarea" ng-minlength="60" name="textarea"
                  ng-model="formData.adDetail.description"
                  required>Describe what makes your ad unique</textarea>

        <p class="error_msg" ng-show="postAdForm.textarea.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.textarea.$error.required">Describe your ad</span>
            <span ng-show="postAdForm.textarea.$invalid && !postAdForm.textarea.$error.required">Describe your ad in at least 60 characters</span>
        </p>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="Price">Price</label>

    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">Rs.</span>
            <input id="Price" name="price" class="form-control" ng-model="formData.adDetail.price"
                   ng-pattern="/^[1-9][0-9]{0,}$/" required="" type="text">
        </div>
        <p class="error_msg" ng-show="postAdForm.price.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.price.$error.required">Price is required</span>
            <span ng-show="postAdForm.price.$error.pattern">Enter a valid price</span>
        </p>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="formData.adDetail.isNegotiable">
                Negotiable </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="textarea"> Image </label>

    <div class="col-md-8">
        <div class="mb10">

            <span class="file-input file-input-new">
                <!--<div class="file-preview">
                    <div class="close fileinput-remove text-right">×</div>
                    <div class="file-preview-thumbnails"></div>
                    <div class="clearfix"></div>
                    <div class="file-preview-status text-center text-success"></div>
                    <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                </div>-->

                <div class="progress" ng-show="uploadStart">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{progressPercentage}}%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr ng-repeat="img in formData.images">
                        <td style="width: 50%">
                            <div class="input-group-btn">
                                <a href="" ng-click="removeImage(img, 'oldImage')" class="btn btn-primary btn-file"><i class="fa fa-trash"></i> Delete and
                                    upload new…
                                    <!--<input id="input-upload-img1" type="file" class="file" accept="image/*"
                                           ngf-max-size="1MB"
                                           ngf-select ng-model="img.picFile" data-preview-file-type="text"
                                           ng-change="upload(img.picFile)">-->
                                </a>
                            </div>
                        </td>
                        <td>
                            <i ng-show="postAdForm.file.$error.maxSize">File too large
                                {{picFile.size / 1000000|number:1}}MB: max 1M</i>
                            <img ng-show="img.picFile != ''" ngf-thumbnail="img.picFile" class="thumb">
                            <img ng-src="{{img.url}}" class="thumb">

                            <p ng-if="showNoFileError" class="error_msg">{{noFileError}}</p>

                        </td>
                        <td>
                            <!--<a href="" ng-click="removeImage(img.name)" ng-hide="img.picFile"><i
                                    class="fa fa-trash fa-2x"></i></a>-->
                            <!--<a href="" ng-click="removeImage(img.picFile)" ng-show="img.picFile"><i
                                    class="fa fa-trash fa-2x"></i></a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table" ng-if="formData.images.length < 5">
                    <tbody>
                    <tr ng-repeat="img in imagectrl">
                        <td style="width: 50%">
                            <div class="input-group-btn">
                                <div class="btn btn-primary btn-file"><i class="fa fa-folder-open"></i> Browse and
                                    upload…
                                    <input id="input-upload-img1" type="file" class="file" accept="image/*"
                                           ngf-max-size="1MB"
                                           ngf-select ng-model="img.picFile" data-preview-file-type="text"
                                           ng-change="upload(img.picFile)">
                                </div>
                            </div>
                        </td>
                        <td>
                            <i ng-show="postAdForm.file.$error.maxSize">File too large
                                {{picFile.size / 1000000|number:1}}MB: max 1M</i>
                            <img ng-show="img.picFile != ''" ngf-thumbnail="img.picFile" class="thumb">

                            <p ng-if="showNoFileError" class="error_msg">{{noFileError}}</p>

                        </td>
                        <td>
                            <a href="" ng-click="removeImage(img.picFile, 'newImage')" ng-show="img.picFile"><i
                                    class="fa fa-trash fa-2x"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </span>

            <button type="button" class="btn btn-xs btn-info pull-right" ng-click="addImage()">
                <span><i class="fa fa-plus"></i> Add More Images</span>
            </button>
            <p class="error_msg">
                {{addImageError}}
            </p>

        </div>
        <p class="help-block">
            Add up to 5 photos. Use a real image of your product, not catalogs.
        </p>
    </div>
</div>
<div class="content-subheading">
    <i class="icon-user fa"></i><strong>Seller information</strong>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="textinput-name">Name</label>

    <div class="col-md-8">
        <input id="textinput-name" name="textinput-name" ng-model="formData.seller_information.name"
               placeholder="Seller Name"
               class="form-control input-md" required="" type="text" required>

        <p class="error_msg" ng-show="postAdForm.textinput-name.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.textinput-name.$error.required">Please enter a seller name</span>
        </p>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="seller-email"> Seller Email</label>

    <div class="col-md-8">
        <input id="seller-email" name="seller-email" ng-disabled="formData.seller_information.email"
               ng-model="formData.seller_information.email" class="form-control"
               placeholder="Email" required="" type="email">

        <small>Email id will only be used for communication purposes, it will not be shown on the ad.</small>
        <p class="error_msg" ng-show="postAdForm.seller-email.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.seller-email.$error.required">Please enter a Email Id</span>
        </p>

    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="seller-Number">Phone Number</label>

    <div class="col-md-8">
        <input id="seller-Number" name="seller-Number" placeholder="Phone Number"
               class="form-control input-md" ng-disabled="formData.seller_information.phone"
               ng-model="formData.seller_information.phone" type="text" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-model="formData.privacy.hide_phone">
                <small> Hide the phone number for unregistered users on this ad.</small>
            </label>
        </div>

        <p class="error_msg" ng-show="postAdForm.seller-Number.$touched || postAdForm.$submitted">
            <span ng-show="postAdForm.seller-Number.$error.required">Please provide your phone number</span>
        </p>
    </div>
</div>

<!--
<div class="form-group">
    <label class="col-md-3 control-label" for="seller-Location">Location</label>

    <div class="col-md-8">
        <select id="seller-Location" name="seller-Location" class="form-control">
            <option value="1">Option one</option>
            <option value="2">Option two</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="seller-area">City</label>

    <div class="col-md-8">
        <select id="seller-area" name="seller-area" class="form-control">
            <option value="1">Option one</option>
            <option value="2">Option two</option>
        </select>
    </div>
</div>
-->

<div class="form-group">
    <label class="col-md-3 control-label">Terms</label>

    <div class="col-md-8">
        <label class="checkbox-inline" for="checkboxes-0">
            <input name="checkboxes" id="checkboxes-0"
                   value="Remember above contact information." type="checkbox" ng-model="formData.termsAccepted">
            Remember above contact information. </label>
    </div>
</div>


<div class="form-group">
    <label class="col-md-3 control-label"></label>

    <div class="col-md-8">
        <button type="submit" id="button1id" ng-disabled="!formData.termsAccepted" class="btn btn-primary btn-lg">Update Ad</button>
    </div>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>

<div class="col-md-3 reg-sidebar">
    <div class="reg-sidebar-inner text-center">
        <div class="promo-text-box">
            <i class=" icon-picture fa fa-4x icon-color-1"></i>

            <h3><strong>Post a Free Classified</strong></h3>

            <p>
                Post your free online classified ads with us. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="panel sidebar-panel">
            <div class="panel-heading uppercase">
                <small><strong>What a good ad contains ?</strong></small>
            </div>
            <div class="panel-content">
                <div class="panel-body text-left">
                    <ul class="list-check">
                        <li>
                            Use a brief and meaningful title and description of the item
                        </li>
                        <li>
                            Make sure you post in the correct category
                        </li>
                        <li>
                            Add nice photos to your ad
                        </li>
                        <li>
                            Put a reasonable price
                        </li>
                        <li>
                            Check the item before publish
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

</div>