<div class="intro">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
            <div class="container text-center">
                <h1 class="intro-title animated fadeInDown"> Search Items </h1>

                <p class="sub animateme fittext3 animated fadeIn">
                    Find things on rent quickly
                </p>

                <div class="row search-row animated fadeInUp">
                    <div class="col-lg-4 col-sm-4 search-col relative locationicon">
                        <i class="icon-location-2 icon-append"></i>
                        <input type="text" name="country" ng-model="searchData.area" id="autocomplete-ajax"
                               class="form-control locinput input-rel searchtag-input has-icon"
                               placeholder="City/Zipcode..." value="" autocomplete="off">
                    </div>
                    <div class="col-lg-4 col-sm-4 search-col relative">
                        <i class="icon-docs icon-append"></i>
                        <input type="text" name="ads" ng-model="searchData.data" class="form-control has-icon" placeholder="I'm looking for a ..."
                               value="">
                    </div>
                    <div class="col-lg-4 col-sm-4 search-col">
                        <button class="btn btn-primary btn-search btn-block" ng-click="search()">
                            <i class="icon-search"></i><strong>Find</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row" ng-controller="category">
            <div class="col-sm-9 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Categories </h2>
                    <!-- {{categories}} -->
                    <div class="row">
                        <div class="col-md-4 col-sm-4" ng-repeat="category in categories">
                            <div class="cat-list">
                                <h3 class="cat-title"><a href="#browse/{{category.name}}"><i
                                        class="fa fa-{{category.icon}} ln-shadow"></i> {{category.name}}</a></h3>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 page-sidebar col-thin-left">
                <aside>
                    <div class="inner-box">
                        <h2 class="title-2">Create Alert</h2>

                        <div class="inner-box-content">
                            <p>Not found what you are looking for or do not want to browse ?</p>

                            <p>Drop us a message and we will provide it to you.</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#create-alert">Create Alert
                            </button>
                            <!--<button class="btn btn-primary">Create Alert</button>-->
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<div class="page-bottom-info">
    <div class="page-bottom-info-inner">
        <div class="page-bottom-info-content text-center">
            <h1>If you have any questions regarding advertising, Please call</h1>
            <a class="btn  btn-lg btn-primary-dark" href="tel:+000000000"> <i class="icon-mobile"></i> <span
                    class="hide-xs color50">Call Now:</span> (000) 555-5555 </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="create-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Send a message</h4>
            </div>
            <div class="modal-body">

                <div class="col-sm-12">
                    <div class="alert alert-success" ng-if="showSuccessMessage">{{successMessage}}</div>
                    <form class="form-horizontal" name="sendMessageForm" novalidate>
                        <fieldset>

                            <div class="form-group"
                                 ng-class="{'has-error' : (sendMessageForm.name.$invalid || sendMessageForm.name.$error.required) && (sendMessageForm.name.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label" for="Adtitle">Name <sup>*</sup></label>

                                <div class="col-md-8">
                                    <input id="Adtitle" name="name" placeholder="Name" ng-model="userData.name"
                                           class="form-control input-md" required type="text">

                                    <p class="error_msg"
                                       ng-show="sendMessageForm.name.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.name.$error.required">Name is required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{'has-error' : (sendMessageForm.email.$invalid || sendMessageForm.email.$error.required) && (sendMessageForm.email.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label" for="email">Email <sup>*</sup></label>

                                <div class="col-md-8">
                                    <input id="email" name="email" placeholder="Email" ng-model="userData.email"
                                           class="form-control input-md" required type="email">

                                    <p class="error_msg"
                                       ng-show="sendMessageForm.name.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.email.$error.required">Email is required</span>
                                        <span ng-show="sendMessageForm.email.$error.email">Email should be valid</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{'has-error': sendMessageForm.category.$error.required && (sendMessageForm.category.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label">Category <sup>*</sup></label>

                                <div class="col-md-8" ng-controller="category">
                                    <select id="category-group" class="form-control" name="category" ng-model="userData.category" required>
                                        <option value="">Select Category</option>
                                        <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                                    </select>

                                    <p class="error_msg" ng-show="sendMessageForm.category.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.category.$error.required">Select a category</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{'has-error' : (sendMessageForm.msg.$invalid || sendMessageForm.msg.$error.required) && (sendMessageForm.msg.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label" for="msg">Looking for <sup>*</sup></label>

                                <div class="col-md-8">
                                    <textarea id="msg" name="msg" placeholder="Your Message" ng-model="userData.msg"
                                              class="form-control input-md" required type="text"> </textarea>

                                    <p class="error_msg"
                                       ng-show="sendMessageForm.msg.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.msg.$error.required">Message is required</span>
                                    </p>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>