<div class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 login-box">
                <div class="alert alert-warning" ng-if="loginError.showLoginError">{{loginError.loginErrorMsg}}</div>
				<div class="panel panel-default">
					<div class="panel-intro text-center">
						<h2 class="logo-title"><span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> rent<span>at </span></h2>
					</div>
					<div class="panel-body">
						<form role="form" name="loginForm" novalidate>
							<div class="form-group" ng-class="{'has-error' : loginForm.email.$error.required && (loginForm.email.$touched || loginForm.$submitted)}">
								<label for="sender-email" class="control-label">Email: <sup>*</sup></label>
								<div class="input-icon">
									<i class="icon-user fa"></i>
									<input id="sender-email" type="email" name="email" ng-model="formData.email" placeholder="Email" class="form-control email" ng-focus="loginCredentialsError.showErr = false" required>
									<p class="error_msg" ng-show="loginForm.email.$touched || loginForm.$submitted || loginCredentialsError.showErr">
										<span ng-show="loginForm.email.$error.required">Email is Required</span>
										<span ng-show="loginForm.email.$invalid && !loginForm.email.$error.required">Enter a valid email</span>			
										<span ng-show="loginCredentialsError.showErr">{{loginCredentialsError.errorMessage}}</span>
									</p>
								</div>
							</div>
							<div class="form-group" ng-class="{'has-error' : loginForm.password.$error.required && (loginForm.password.$touched || loginForm.$submitted)}">
								<label for="user-pass" class="control-label">Password: <sup>*</sup></label>
								<div class="input-icon">
									<i class="icon-lock fa"></i>
									<input type="password" name="password" ng-model="formData.password" class="form-control" placeholder="Password" id="user-pass" required>
									<p class="error_msg" ng-show="loginForm.password.$touched || loginForm.$submitted">
										<span ng-show="loginForm.password.$error.required">Password is required</span>
									</p>
								</div>
								<div class="form-group">
									<button class="btn btn-primary btn-block" ng-click="login()">
										Login
									</button>
								</div>
                            </div>
						</form>
					</div>
					<div class="panel-footer">
						<!--<label class="checkbox pull-left">
							<input type="checkbox" value="1" name="remember" id="remember" ng-model="formData.remember">
							Keep me logged in </label>-->
						<p class="text-center pull-right">
							<a href=""> Lost your password? </a>
						</p>
						<div style=" clear:both"></div>
					</div>
				</div>
				<div class="login-box-btm text-center">
					<p>
						Don't have an account?
						<br>
						<a href="#signup"><strong>Sign Up !</strong> </a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>