<div class="search-row-wrapper">
    <div class="container ">
        <form action="#" method="GET">
            <div class="col-sm-3">
                <input class="form-control keyword" type="text" placeholder="e.g. Mobile Sale">
            </div>
            <div class="col-sm-3">
                <div class="selecter  closed" tabindex="0">
                    <select class="form-control selecter selecter-element" name="category" id="search-category"
                            tabindex="-1">
                        <option value="" class="selecter-placeholder" selected="">Select An Item</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="selecter  closed" tabindex="0">
                    <select class="form-control selecter selecter-element" name="location" id="id-location"
                            tabindex="-1">
                        <option value="" class="selecter-placeholder" selected="">Select An Item</option>
                        <option selected="selected" value="">All Locations</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-block btn-primary  ">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 page-sidebar">
                <aside>
                    <div class="inner-box">
                        <div class="user-panel-sidebar">
                            <div class="collapse-box">
                                <h5 class="collapse-title no-border"> My Account <a href="#MyClassified"
                                                                                    data-toggle="collapse"
                                                                                    class="pull-right"><i
                                        class="fa fa-angle-down"></i></a></h5>

                                <div class="panel-collapse collapse in" id="MyClassified">
                                    <ul class="acc-list">
                                        <li>
                                            <a href="#account"><i class="icon-home"></i> My Account </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="collapse-box">
                                <h5 class="collapse-title"> My Ads <a href="" data-toggle="collapse" class="pull-right"><i
                                        class="fa fa-angle-down"></i></a></h5>

                                <div class="panel-collapse collapse in" id="MyAds" ng-controller="myadsController">
                                    <ul class="acc-list">
                                        <li>
                                            <a class="active" href="#myads"><i class="icon-docs"></i> My ads <span
                                                    class="badge">{{postedAds.length}}</span> </a>
                                        </li>
                                        <!--
                                        <li>
                                                                                    <a href="#favads"><i class="icon-heart"></i> Favourite ads <span class="badge">42</span> </a>
                                                                                </li>-->

                                        <!--<li>
                                            <a href="account-saved-search.html"><i class="icon-star-circled"></i> Saved search <span class="badge">42</span> </a>
                                        </li>
                                        <li>
                                            <a href="account-archived-ads.html"><i class="icon-folder-close"></i> Archived ads <span class="badge">42</span></a>
                                        </li>-->
                                        <!--<li>
                                            <a href="#pendingads"><i class="icon-hourglass"></i> Pending approval <span class="badge">42</span></a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>

                            <!--<div class="collapse-box">
                                <h5 class="collapse-title"> Terminate Account <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                                <div class="panel-collapse collapse in" id="TerminateAccount">
                                    <ul class="acc-list">
                                        <li>
                                            <a href="account-close.html"><i class="icon-cancel-circled "></i> Close account </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->

                        </div>
                    </div>

                </aside>
                <aside>
                    <div class="inner-box">
                        <div class="categories-list  list-filter">
                            <h5 class="list-title"><strong><a href="#">All Categories</a></strong></h5>

                            <div category-list></div>

                        </div>

                        <div style="clear:both"></div>
                    </div>

                </aside>
            </div>

            <div class="col-sm-9 page-content col-thin-left">
                <div class="category-list">
                    <div class="tab-box" ng-init="tabsData = 'all'">

                        <ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
                            <li class="active">
                                <a data-toggle="tab" data-target="#allAds" ng-click="tabsData = 'all'">All Ads <span
                                        class="badge">{{postedAds | getcount: 'all'}}</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#pendingAds" ng-click="tabsData = 'pending'">Review
                                    Pending <span class="badge">{{postedAds | getcount: 'pending'}}</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#publishedAds" ng-click="tabsData = 'published'">Published
                                    <span class="badge">{{postedAds | getcount: 'published'}}</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#rejectedAds" ng-click="tabsData = 'rejected'">Rejected
                                    <span class="badge">{{postedAds | getcount: 'rejected'}}</span></a>
                            </li>
                        </ul>
                    </div>

                    <!--
                    <div class="listing-filter">
                        <div class="pull-left col-xs-6">
                            <div class="breadcrumb-list">
                                <a href="#" class="current"> <span>All ads</span></a> in New York <a href="#selectRegion" id="dropdownMenu1"
                                                                                                     data-toggle="modal"> <span
                                    class="caret"></span> </a>
                            </div>
                        </div>
                        <div class="pull-right col-xs-6 text-right listing-view-action">
                            <span class="list-view active"><i class="  icon-th"></i></span><span class="compact-view"><i
                                class=" icon-th-list  "></i></span><span class="grid-view "><i class=" icon-th-large "></i></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>-->


                    <div class="adds-wrapper">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="allAds">
                                <div show-ads></div>
                            </div>
                            <div class="tab-pane fade" id="pendingAds">
                                <div show-ads></div>
                            </div>
                            <div class="tab-pane fade" id="publishedAds">
                                <div show-ads></div>
                            </div>
                            <div class="tab-pane fade" id="rejectedAds">
                                <div show-ads></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <br>


        </div>
        <div class="pagination-bar text-center">

            <ul class="pagination">
                <li class="active">
                    <a class="pagination-btn" href="" ng-click="previous()">Previous </a>
                </li>
                <li>
                    <a class="pagination-btn" href="" ng-click="next()">Next »</a>
                </li>
            </ul>
        </div>

    </div>
</div>
</div>