<div class="alert alert-warning" ng-if="showPreview" style="text-align: center;">This is a preview page only. This is
    how your ad will look after verification.
</div>
<div class="alert alert-success" ng-if="showSuccessMessage" style="text-align: center;">{{successMessage}}</div>
<div class="alert alert-danger" ng-if="showError" style="text-align: center;">{{errorMessage}}</div>
<div class="alert alert-info" ng-if="approveAd" style="text-align: center;">
    <div class="alert alert-warning" ng-if="adData.isVerified">Approved</div>
    <div class="alert alert-warning" ng-if="!adData.isVerified && !adData.reject">Rejected</div>
    <form class="form-horizontal" name="postAdForm" novalidate>
        <div class="form-group">
            <label class="col-md-3 control-label">Status</label>

            <div class="col-md-2">
                <select id="category-group" class="form-control" name="status" ng-model="formData.status" required>
                    <option value="">Select</option>
                    <option value="accept">Accept</option>
                    <option value="reject">Reject</option>
                </select>
            </div>

            <div class="col-md-3" ng-if="formData.status == 'reject'">
                <textarea class="form-control" id="textarea" name="textarea"
                          ng-model="formData.comment" placeholder="reason to reject"></textarea>
            </div>
            <div class="col-md-2">
                <button type="button" id="button1id" class="btn btn-primary" ng-click="submit()">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="main-container" ng-hide="showError">
    <div class="container">
        <ol class="breadcrumb pull-left">
            <li>
                <a href="#"><i class="icon-home fa"></i></a>
            </li>
            <li>
                <a href="#/">All Ads</a>
            </li>
            <li>
                <a href="#browse/{{adData.category}}">{{adData.category}}</a>
            </li>
            <li class="active">
                {{adData.subcategory}}
            </li>
        </ol>
        <div class="pull-right backtolist">
            <a href="#myads"> <i class="fa fa-angle-double-left"></i> Back to Results</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 page-content col-thin-right">
                <div class="inner inner-box ads-details-wrapper">
                    <h2> {{adData.adDetail.adTitle}}
                        <!--<small class="label label-default adlistingtype">Company ad</small>-->
                    </h2>
                    <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{adData.created_on | date:'mediumDate'}} </span> - <span
                            class="category">{{adData.category}} </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> {{adData.seller_information.address.city}} </span> </span>

                    <div class="ads-image">
                        <h1 class="pricetag"> {{adData.adDetail.price | currency:"&#8377;"}}</h1>
                        <img ng-src="{{imageUrl | image: '720x720'}}" alt="img">

                        <div id="bx-pager">
                            <a class="thumb-item-link" data-slide-index="1" href="" ng-click="changeImage(image)"
                               ng-repeat="image in adData.images"><img ng-src="{{image.url | image: '100x100'}}"
                                                                       alt="img"></a>

                        </div>
                    </div>

                    <div class="Ads-Details">
                        <h5 class="list-title"><strong>Ad Details</strong></h5>

                        <div class="row">
                            <div class="ads-details-info col-md-8">
                                <p>
                                    {{adData.adDetail.description}}
                                </p>

                            </div>
                            <div class="col-md-4">
                                <aside class="panel panel-body panel-details">
                                    <ul>
                                        <li>
                                            <p class=" no-margin ">
                                                <strong>Price:</strong> {{adData.adDetail.price | currency:"&#8377;"}}
                                            </p>
                                        </li>
                                        <li>
                                            <p class="no-margin">
                                                <strong>Type:</strong> {{adData.category}}
                                            </p>
                                        </li>
                                        <li>
                                            <p class="no-margin">
                                                <strong>Location:</strong> {{adData.seller_information.address.city}}
                                            </p>
                                        </li>
                                        <!--<li>
                                            <p class=" no-margin ">
                                                <strong>Condition:</strong> New
                                            </p>
                                        </li>
                                        <li>
                                            <p class="no-margin">
                                                <strong>Brand:</strong> Sony
                                            </p>
                                        </li>-->
                                    </ul>
                                </aside>
                                <div class="ads-action">
                                    <ul class="list-border">
                                        <li>
                                            <a href="#seller/{{adData.seller_information.user_id}}"> <i class=" fa fa-user"></i> More ads by User </a>
                                        </li>
                                        <!--<li>
                                            <a href="#"> <i class=" fa fa-heart"></i> Save ad </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-share-alt"></i> Share ad </a>
                                        </li>
                                        <li>
                                            <a href="#reportAdvertiser" data-toggle="modal"> <i
                                                    class="fa icon-info-circled-alt"></i> Report abuse </a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content-footer text-left">
                            <!--<a class="btn  btn-default" data-toggle="modal" href="#contactAdvertiser"
                               ng-disabled="showPreview"><i class="fa fa-envelope"></i> Send a message </a>-->
                            <button type="button" class="btn  btn-default" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-envelope"></i> Send a message
                            </button>
                            <a class="btn  btn-info" ng-if="adData.seller_information.phone"
                               ng-disabled="showPreview"><i class="fa fa-phone-square"></i>
                                {{adData.seller_information.phone}} </a>
                            <a class="btn  btn-info"
                               ng-if="!adData.seller_information.phone && adData.privacy.hide_phone"
                               ng-disabled="showPreview"><i class="fa fa-phone-square"></i> Not Available </a>
                            <a class="btn  btn-info" ng-if="!adData.seller_information.phone" ng-disabled="showPreview"><i
                                    class="fa fa-phone-square"></i> Login to view phone number </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3  page-sidebar-right">
                <aside>
                    <div class="panel sidebar-panel panel-contact-seller">
                        <div class="panel-heading">
                            Contact Seller
                        </div>
                        <div class="panel-content user-info">
                            <div class="panel-body text-center">
                                <div class="seller-info">
                                    <h3 class="no-margin">{{adData.seller_information.name}}</h3>

                                    <p>
                                        Location: <strong>{{adData.seller_information.address.city}}</strong>
                                    </p>
                                    <!--<p>-->
                                    <!--Joined: <strong>12 Mar 2009</strong>-->
                                    <!--</p>-->
                                </div>
                                <div class="user-ads-action">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-default btn-block" data-toggle="modal"
                                            data-target="#myModal">
                                        <i class="fa fa-envelope"></i> Send a message
                                    </button>

                                    <a class="btn  btn-info btn-block" ng-if="adData.seller_information.phone"
                                       ng-disabled="showPreview"><i class="fa fa-phone-square"></i>
                                        {{adData.seller_information.phone}} </a>
                                    <a class="btn  btn-info"
                                       ng-if="!adData.seller_information.phone && adData.privacy.hide_phone"
                                       ng-disabled="showPreview"><i class="fa fa-phone-square"></i> Not Available </a>
                                    <a class="btn  btn-info" ng-if="!adData.seller_information.phone"><i
                                            class="fa fa-phone-square" ng-disabled="showPreview"></i> Login to view
                                        phone number </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel sidebar-panel">
                        <div class="panel-heading">
                            Safety Tips for Buyers
                        </div>
                        <div class="panel-content">
                            <div class="panel-body text-left">
                                <ul class="list-check">
                                    <li>
                                        Meet seller at a public place
                                    </li>
                                    <li>
                                        Check the item before you buy
                                    </li>
                                    <li>
                                        Pay only after collecting the item
                                    </li>
                                </ul>
                                <p>
                                    <a class="pull-right" href="#faq"> Know more <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Send a message</h4>
            </div>
            <div class="modal-body">

                <div ng-if="!ra.user._id">
                    You need to <a href="#login" target="_blank">LOGIN</a> to send a message to the seller.
                </div>
                <div ng-if="ra.user._id" class="col-sm-12">
                    <form class="form-horizontal" name="sendMessageForm" novalidate>
                        <fieldset>

                            <div class="form-group"
                                 ng-class="{'has-error' : (sendMessageForm.name.$invalid || sendMessageForm.name.$error.required) && (sendMessageForm.name.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label" for="Adtitle">Name <sup>*</sup></label>

                                <div class="col-md-8">
                                    <input id="Adtitle" name="name" placeholder="Name" ng-model="userData.name"
                                           class="form-control input-md" required type="text">

                                    <p class="error_msg"
                                       ng-show="sendMessageForm.name.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.name.$error.required">Name is required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{'has-error' : (sendMessageForm.email.$invalid || sendMessageForm.email.$error.required) && (sendMessageForm.email.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label" for="email">Email <sup>*</sup></label>

                                <div class="col-md-8">
                                    <input id="email" name="email" placeholder="Email" ng-model="userData.email"
                                           class="form-control input-md" required type="email">

                                    <p class="error_msg"
                                       ng-show="sendMessageForm.name.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.email.$error.required">Email is required</span>
                                        <span ng-show="sendMessageForm.email.$error.email">Email should be valid</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{'has-error' : (sendMessageForm.msg.$invalid || sendMessageForm.msg.$error.required) && (sendMessageForm.msg.$touched || sendMessageForm.$submitted)}">
                                <label class="col-md-3 control-label" for="msg">Message <sup>*</sup></label>

                                <div class="col-md-8">
                                    <textarea id="msg" name="msg" placeholder="Your Message" ng-model="userData.msg"
                                              class="form-control input-md" required type="text"> </textarea>

                                    <p class="error_msg"
                                       ng-show="sendMessageForm.msg.$touched || sendMessageForm.$submitted">
                                        <span ng-show="sendMessageForm.msg.$error.required">Message is required</span>
                                    </p>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>