<div class="main-container" ng-show="signupComplete">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <div class="inner-box category-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success pgray  alert-lg" role="alert" ng-show="signupNew">
                                <h2 class="no-margin no-padding">✔ Congratulations! You have successfully signed up.</h2>
                                <p>We have sent you a verification link at your mail, Kindly click on that link so that we can verify you. Happy Renting :)</p>
                            </div>
                            <div class="alert alert-warning pgray  alert-lg" role="alert" ng-show="!signupNew || userPresent || !resend_code)">
                                <h2> !! Hey {{userdetails.firstName}}, It looks like you have already registered with us.</h2>
                                <p ng-if="!userdetails.verified.email">
                                    But you have not verified yourself. <a ng-click="resendVerificationMail(userdetails)">Click Here</a> to resend the verification mail or click on the link sent to your mail.
                                </p>
                                <p ng-if="userdetails.verified.email">
                                    <a href="#login">Login</a> to continue.
                                </p>
                            </div>
                            <div class="alert alert-success pgray  alert-lg" role="alert" ng-show="resend_code">
                                <h2 class="no-margin no-padding">✔ Hey {{userdetails.firstName}},</h2>
                                <p>We have sent you a verification link at your mail, Kindly click on that link so that we can verify you. Happy Renting :)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container" ng-show="!signupComplete">
	<div class="container">
		<div class="row">
			<div class="col-md-8 page-content">
				<div class="inner-box category-content">
					<h2 class="title-2"><i class="icon-user-add"></i> Create your account, to get started </h2>
					<div class="row">
						<div class="col-sm-12">
							<form novalidate name="signupForm" class="form-horizontal">
								<fieldset>
									<!--<div class="form-group required">
										<label class="col-md-4 control-label">You are a <sup>*</sup></label>
										<div class="col-md-6">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios" id="optionsRadios1" value="seller" ng-model="formData.type" required="">
													Seller </label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios" id="optionsRadios2" value="customer" ng-model="formData.type" required="">
													Customer </label>
											</div>
										</div>
									</div>-->

									<div class="form-group required" ng-class="{'has-error': signupForm.f_name.$error.required && (signupForm.f_name.$touched || signupForm.$submitted)}">
										<label class="col-md-4 control-label">First Name <sup>*</sup></label>
										<div class="col-md-6">
											<input type="text" name="f_name" placeholder="First Name" ng-model="formData.firstName" class="form-control input-md" required>
											<p class="error_msg" ng-show="signupForm.f_name.$touched || signupForm.$submitted">
												<span ng-show="signupForm.f_name.$error.required">First Name is Required</span>
											</p>
										</div>
									</div>

									<div class="form-group required" ng-class="{'has-error': signupForm.l_name.$error.required && (signupForm.l_name.$touched || signupForm.$submitted)}">
										<label class="col-md-4 control-label">Last Name <sup>*</sup></label>
										<div class="col-md-6">
											<input type="text" ng-model="formData.lastName" name="l_name" placeholder="Last Name" class="form-control input-md" required>
											<p class="error_msg" ng-show="signupForm.l_name.$touched || signupForm.$submitted">
												<span ng-show="signupForm.l_name.$error.required">Last Name is Required</span>
											</p>
										</div>
									</div>

									<div class="form-group required" ng-class="{'has-error': signupForm.phone.$error.required && (signupForm.phone.$touched || signupForm.$submitted)}">
										<label class="col-md-4 control-label">Phone Number <sup>*</sup></label>
										<div class="col-md-6">
											<input type="text" name="phone" placeholder="Phone Number" class="form-control input-md" ng-model="formData.phone" ng-pattern="/^[0-9]{10}$/" required>

											<p class="error_msg" ng-show="signupForm.phone.$dirty || signupForm.phone.$touched || signupForm.$submitted">
												<span ng-show="signupForm.phone.$error.required">Phone Number is Required</span>
												<span ng-show="signupForm.phone.$error.pattern">Should be 10 digit number</span>
											</p>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" ng-model="formData.hidePhone">
													<small> Hide the phone number on the published ads.</small> </label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-4 control-label">Gender</label>
										<div class="col-md-6">
											<div class="radio">
												<label for="Gender-0">
													<input name="Gender" id="Gender-0" ng-model="formData.gender" value="male" checked="checked" type="radio">
													Male </label>
											</div>
											<div class="radio">
												<label for="Gender-1">
													<input name="Gender" id="Gender-1" ng-model="formData.gender" value="female" type="radio">
													Female </label>
											</div>
										</div>
									</div>

									<div class="form-group required" ng-class="{'has-error': signupForm.email.$error.required && (signupForm.email.$touched || signupForm.$submitted)}">
										<label for="inputEmail3" class="col-md-4 control-label">Email <sup>*</sup></label>
										<div class="col-md-6">
											<input type="email" class="form-control" name="email" ng-model="formData.email" id="inputEmail3" placeholder="Email" required>
											<p class="error_msg" ng-show="signupForm.email.$dirty || signupForm.email.$touched || signupForm.$submitted">
												<span ng-show="signupForm.email.$error.required">Email is Required</span>
												<span ng-show="!signupForm.email.$error.required && signupForm.email.$invalid">Should be a valid email</span>
											</p>
										</div>
									</div>
									<div class="form-group required" ng-class="{'has-error': signupForm.password.$error.required && (signupForm.password.$touched || signupForm.$submitted)}">
										<label for="inputPassword3" class="col-md-4 control-label">Password <sup>*</sup></label>
										<div class="col-md-6">
											<input type="password" name="password" class="form-control" id="inputPassword3" ng-model="formData.password" ng-minlength="8" placeholder="Password" required>
											<p class="help-block">
                                                <span ng-hide="(signupForm.password.$error.minlength || signupForm.password.$error.required) && (signupForm.password.$touched || signupForm.$submitted)">At least 8 characters</span>
												<span ng-class="{'error_msg': signupForm.password.$error.minlength || signupForm.password.$error.required}" ng-show="(signupForm.password.$error.minlength || !signupForm.password.$error.required) && (signupForm.password.$touched || signupForm.$submitted)">At least 8 characters</span>
												<span ng-class="{'error_msg': signupForm.password.$error.minlength || signupForm.password.$error.required}" ng-show="signupForm.password.$error.required && (signupForm.password.$touched || signupForm.$submitted)">Password is required</span>
											</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label"></label>
										<div class="col-md-8">
											<div class="termbox mb10">
												<label class="checkbox-inline" for="checkboxes-1">
													<input name="termcheckbox" id="checkboxes-1" value="true" ng-model="formData.accept" type="checkbox">
													I have read and agree to the <a href="#terms">Terms &amp; Conditions</a> </label>
												<p class="error_msg" ng-show="!formData.accept && signupForm.termcheckbox.$touched || signupForm.$submitted">
													<span ng-show="!formData.accept">You must agree to the terms and conditions</span>
												</p>
											</div>
											<div style="clear:both"></div>
											<button class="btn btn-primary" type="submit" ng-disabled="signupForm.$invalid || !formData.accept" ng-click="signup()">
												Sign Up
											</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 reg-sidebar">
				<div class="reg-sidebar-inner text-center">
					<div class="promo-text-box">
						<i class=" icon-picture fa fa-4x icon-color-1"></i>
						<h3><strong>Post a Free Ad</strong></h3>
						<p>
							Post your free online classified ads with us and earn by renting the things you rarely use.
						</p>
					</div>
					<div class="promo-text-box">
						<i class=" icon-pencil-circled fa fa-4x icon-color-2"></i>
						<h3><strong>Create and Manage Account</strong></h3>
						<p>
							You can manage all of your ads from the accounts section.
						</p>
					</div>
					<div class="promo-text-box">
						<i class="  icon-heart-2 fa fa-4x icon-color-3"></i>
						<h3><strong>If you are a customer</strong></h3>
						<p>
							And if you are a customer then you can create alert for the items or create your fav-list.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>