<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <div class="inner-box category-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success pgray  alert-lg" role="alert" ng-if="verified && !invalid">
                                <h2 class="no-margin no-padding">✔ Congratulations! Your email is now verified.</h2>
                                <p><a href="#login">Login</a> to continue.</p>
                            </div>
                            <div class="alert alert-success pgray  alert-lg" role="alert" ng-if="already_verified">
                                <h2 class="no-margin no-padding">✔ Congratulations! Your email is already verified.</h2>
                                <p><a href="#login/">Login</a> to continue.</p>
                                <!--<p><a href="#login/{{userdata._id}}">Login</a> to continue.</p>-->
                            </div>
                            <div class="alert alert-warning pgray  alert-lg" role="alert" ng-if="!verified && !invalid && !already_verified && !resend_code">
                                <h2>✔ oops, your verification code has been expired.</h2>
                                <p ng-if="!userdetails.verified.email">
                                    <a ng-click="resendVerificationMail()">Click Here</a> to resend the verification mail.
                                </p>
                            </div>
                            <div class="alert alert-success pgray  alert-lg" role="alert" ng-if="resend_code">
                                <p>Verification Code has been sent successfully to your registered email id. Please verify your email within 24 hours.</p>
                                <p>Happy Renting :)</p>
                            </div>
                            <div class="alert alert-danger pgray  alert-lg" role="alert" ng-if="invalid && !verified">
                                <h2 class="no-margin no-padding">✔ Hey, We can not find you.</h2>
                                <p>It looks like you have entered the wrong link.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>